
.row{

    color: white;
    margin-left: 20px;
}
h1{
    color: white;
    margin: 20%;
    
    background-color: black;
}
.cont{
    background-color: black;
    padding-left: 15%;
    padding-right: 15%;

}
h6{
    color: white;
}
#bn{
    height: 40px;
    width: 40px;
    color: gray;
    size: 30px;
    border-radius: 50%;
    position: relative;
    left: 30px;
}

